/*init css*/
* {padding: 0;margin: 0;box-sizing: border-box;cursor: default;user-select: none;}
/*init icon*/
.icon {width: 1.2em;height: 1.2em;fill: currentColor;overflow: hidden;cursor: pointer;margin-right: 10px;}
/*admin style*/
body {background-image: url(../images/back.jpg);background-attachment: fixed;background-size: cover;background-position: center;color: #fff;display: flex;flex-direction: column;justify-content: center;align-items: center;}
body main {width: 87vw;display: flex;flex-direction: column;justify-content: center;align-items: center;padding-bottom: 15vh;}
body main .top {height: 13vh;width: 100%;font-weight: bold;display: flex;flex-direction: row;justify-content: space-between;align-items: flex-end;margin-bottom: 5vh;}
body main .top h1{display: inline-block;font-size: 25px;}
body main .top h1:after{content: '';display: block;width: 45%;height: 5px;background-color: #fc166f;margin-top: 13px;border-radius: 3px;}
body main .top .upload {width: 205px;height: 43px;background-color: #fc166f;font-size: 15px;font-weight: bold;letter-spacing: 2px;border-radius: 4px;transform : scale(0.73,0.73);display: flex;flex-direction: row;align-items: center;justify-content: center;cursor: pointer;}
body main .lists {width: 100%;}
body main .lists .lists-tab {width: 100%;display: flex;flex-direction: row;}
body main .lists .lists-tab .tab {font-size: 13px;font-weight: bold;letter-spacing: 2px;border-radius: 4px;display: flex;flex-direction: row;align-items: center;justify-content: center;border: solid 1px #fff;padding: 5px 25px;margin-right: 10px;cursor: pointer;}
body main .lists .lists-tab .active {color: black;background-color: #fff;}
body main .lists .lists-items {display: flex;flex-direction: column;justify-content: center;align-items: center;}
body main .lists .lists-items.none {display: none;}
body main .lists .lists-items .item {width: 100%;display: flex;flex-direction: row;align-items: center;margin: 2px 10px;padding: 5px 20px;background-color: #dddddd27;border-radius: 2px;letter-spacing: 0.07em;}
body main .lists .lists-items .item-title {padding: 10px 20px;font-size: 13px;letter-spacing: 1em;margin-top: 20px;background-color: #dddddd00;border-bottom: 1px solid #ffffff40;margin-bottom: 10px;}
body main .lists .lists-items .item:hover {background-color: #dddddd40;}
body main .lists .lists-items .item-title:hover {background-color: #dddddd00;}
body main .lists .lists-items .item .item-file,.item-song_name,.item-singer,.item-album,.item-url {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;line-height: 33px;flex: 1;font-size: 13px;font-weight: lighter;color: white;}
body main .lists .lists-items .item .item-url {flex: 3;padding-right: 30px;user-select: text;cursor: text;}
body main .lists .lists-items .item input {background-color: #ffffff00;border: none;letter-spacing: 0.07em;display: inline;margin-right: 50px;cursor: pointer;}
body main .lists .lists-items .item input:focus {cursor: text}
body main .lists .lists-items .item-title input {letter-spacing: 1em;cursor: default}
body main .lists .lists-items .item .item-action {display: flex;flex-direction: row;flex: 0.4;}
.listsIsNull {
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 4px;
    color: silver;
    padding-right: calc(1.2em + 10px);
}